#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* General styling for parallax layers */
.animation, .animation_layer {
  height: 100vh;
  width: 100%;
 
}

.animation {
  position: relative;
  overflow: hidden;
}

.animation_layer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Jungle image styling */
#jungle {
  background-image: url('./assets/Paralleximage.jpg'); /* Path to jungle image */
  z-index: 1;
}

/* Tree image styling */
#tree {
  background-image: url('./assets/paralleximage2.png'); /* Path to tree image */
  z-index: 2;
  bottom:0;
  margin-top: 20;
}
